{% extends 'shop/basic.html'%}

{% block title%} {{product.product_name}} - MyAwesomeCart{% endblock %}
{% block body%}
<div class="jumbotron">
   <div class="row">
      <div class="col-md-4">
         <img src="/media/{{product.image}}" width="400px" height="300px">
         <button class="btn btn-primary my-3 mx-5">BUY NOW</button>
         <button class="btn btn-primary my-3 ">Add To Cart</button>

      </div>
      <div class="col-md-8">
         <h1>{{product.product_name}}</h1>
         <h3><bold>Rs.{{product.price}}</bold></h3>
         <p>{{product.desc}}</p>
      </div>
   </div>
</div>
{% endblock%}